/target
/*/target
/*/*/target

/*.iml
/*/*.iml
/*/*/*.iml
/.idea

/java-object-mapper-benchmark/*.zip
/java-object-mapper-benchmark/*.uml
/java-object-mapper-benchmark/*.png
/java-object-mapper-benchmark/*.csv
/java-object-mapper-benchmark/*.plt
/java-object-mapper-benchmark/readme.md
/java-object-mapper-benchmark/*.ods
